<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Отдел</th>
      <th scope="col">Зарплата</th>
      <th scope="col">Дата Приема</th>
      <th scope="col">Дата Рождения</th>
      <th scope="col">КНОПКИ</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">emploees[0].id</th>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
      <td>emploees[0].id</td>
    </tr>
  </tbody>
</table>
